<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Pokémon auto-generation application</title>
  </head>
  <body>
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col">
          <h1></h1>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col">
          <div class="p-3 mb-2 bg-danger text-white">
            <h2>新ポケモン生成研究所</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <img class="mx-auto d-block" src="./images/okido.png">
        </div>
      </div>
    </div>

    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col">
          <h1></h1>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-4">
          <form method = "POST" action = "/image_generation_form">
            <input  class="btn btn-primary" type = submit value = 新しいポケモンを生成する>
          </form>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col">
          <h1></h1>
        </div>
      </div>
    </div>
    {% if image %}
      <div class="container">
        <div class="row">
          <div class="col">
            <img class="mx-auto d-block" src="{{ image  }}">
          </div>  
        </div>
      </div>    
      <div class="container text-center">
        <div class="row justify-content-center">
          <div class="col">
            <h1></h1>
          </div>
        </div>
      </div>
    {% endif %}
    <div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div id="text">生成した図鑑の説明が表示されます</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <form>
        <div class="container">
          <div class="row">
            <div class="col">
              <label>タイプ1</label>
              <select name="type_1" multiple>
                <option value="ノーマル">ノーマル</option>
                <option value="ほのお">ほのお</option>
                <option value="みず">みず</option>
                <option value="でんき">でんき</option>
                <option value="くさ">くさ</option>
                <option value="こおり">こおり</option>
                <option value="かくとう">かくとう</option>
                <option value="どく">どく</option>
                <option value="じめん">じめん</option>
                <option value="ひこう">ひこう</option>
                <option value="エスパー">エスパー</option>
                <option value="むし">むし</option>
                <option value="いわ">いわ</option>
                <option value="ゴースト">ゴースト</option>
                <option value="ドラゴン">ドラゴン</option>
                <option value="あく">あく</option>
                <option value="はがね">はがね</option>
                <option value="フェアリー">フェアリー</option>
              </select>
            </div>
            <div class="col">
              <label>タイプ2</label>
              <select name="type_2" multiple>
                <option value="---">---</option>
                <option value="ノーマル">ノーマル</option>
                <option value="ほのお">ほのお</option>
                <option value="みず">みず</option>
                <option value="でんき">でんき</option>
                <option value="くさ">くさ</option>
                <option value="こおり">こおり</option>
                <option value="かくとう">かくとう</option>
                <option value="どく">どく</option>
                <option value="じめん">じめん</option>
                <option value="ひこう">ひこう</option>
                <option value="エスパー">エスパー</option>
                <option value="むし">むし</option>
                <option value="いわ">いわ</option>
                <option value="ゴースト">ゴースト</option>
                <option value="ドラゴン">ドラゴン</option>
                <option value="あく">あく</option>
                <option value="はがね">はがね</option>
                <option value="フェアリー">フェアリー</option>
              </select>
            </div>
            <div class="col">
              <label>特徴1</label>
              <select name="feature_1" multiple>
                <option value="のんびり">のんびり</option>
                <option value="おこりっぽい">おこりっぽい</option>
                <option value="泳ぐ">泳ぐ</option>
                <option value="電池">電池</option>
                <option value="花">花</option>
                <option value="アイス">アイス</option>
                <option value="戦う">戦う</option>
                <option value="くさい">くさい</option>
                <option value="がんじょう">がんじょう</option>
                <option value="きれいな羽">きれいな羽</option>
                <option value="マジシャン">マジシャン</option>
                <option value="素早い">素早い</option>
                <option value="石集め">石集め</option>
                <option value="おどかす">おどかす</option>
                <option value="孤独">孤独</option>
                <option value="わるだくみ">わるだくみ</option>
                <option value="きらきら">きらきら</option>
                <option value="やさしい">やさしい</option>
              </select>
            </div>
            <div class="col">
              <label>特徴2</label>
              <select name="feature_2" multiple>
                <option value="街">街</option>
                <option value="人間">人間</option>
                <option value="海">海</option>
                <option value="発電所">発電所</option>
                <option value="森の中">森の中</option>
                <option value="雪国">雪国</option>
                <option value="道場">道場</option>
                <option value="ゴミ置き場">ゴミ置き場</option>
                <option value="砂漠">砂漠</option>
                <option value="気球">気球</option>
                <option value="泥棒">泥棒</option>
                <option value="競技場">競技場</option>
                <option value="洞窟">洞窟</option>
                <option value="廃墟">廃墟</option>
                <option value="不明">不明</option>
                <option value="警察">警察</option>
                <option value="鉱山">鉱山</option>
                <option value="家">家</option>
              </select>
            </div>
            <div class="col">
              <label>特徴3</label>
              <select name="feature_3" multiple>
                <option value="すき">すき</option>
                <option value="きらい">きらい</option>
                <option value="にがて">にがて</option>
                <option value="大好物">大好物</option>
                <option value="得意">得意</option>
                <option value="アレルギー">アレルギー</option>
                <option value="実は">実は</option>
                <option value="お風呂">お風呂</option>
                <option value="さかな">さかな</option>
                <option value="車">車</option>
                <option value="タイヤ">タイヤ</option>
                <option value="こわい">こわい</option>
                <option value="わからない">わからない</option>
                <option value="大きい">大きい</option>
                <option value="小さい">小さい</option>
                <option value="あいさつ">あいさつ</option>
                <option value="エイリアン">エイリアン</option>
              </select>
            </div>  
          </div>
        </div>
        <div class="container text-center">
          <div class="row justify-content-center">
            <div class="col">
              <h1></h1>
            </div>
          </div>
        </div>
        <div class="container text-center">
          <div class="row justify-content-center">
            <div class="col">
              <input class="btn btn-primary" type="button" value="図鑑説明を生成" onclick="updateText()">
            </div>
          </div>
        </div>
        <div class="container text-center">
          <div class="row justify-content-center">
            <div class="col">
              <h1></h1>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <button onclick="toggleText()">おまけ</button> 
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <div id="story" style="display:none;">
                <h1>~作成までのお話~</h1>
                <u>
                  <h3>1. 背景</h3>
                </u>
                <p>みなさん、ポケットモンスター最新作。<strong>スカーレット・バイオレット</strong>はもうプレイしましたか？</p>
                <p>ついにポケモンの数も1,000匹を超えたみたいですね・・・。もう多すぎて覚えられません。</p>
                <p>ちなみに私のポケモンデビューは、<strong>ダイヤモンド・パール</strong>です。</p>
                <p>親に攻略本を買ってもらって、ボロボロになるまで読み込んで、夜に隠れてプレイしたのは本当にいい思い出です。(あの頃に戻りたい)</p>
                <p>小さい頃はよく、新しいポケモンが出たらこんな感じかな？とか、公式よりセンスあるわ〜。</p>
                <p>とか思いながら、架空のポケモンを絵に描いたりしていました。</p>
                <p>そのため、せっかく大人になったので？<strong>画像生成(GAN)</strong>の技術を使って、ポケモンを生成してみたら面白い！と、考え</p>
                <p><strong>新ポケモン生成研究所</strong>を設立しました（笑）</p>
                <u>
                  <h3>2. GANの調査</h3>
                </u>
                <P>GANについて理解を深めるために、書籍を購入し学習しました。(MNISTをデータセットの画像生成するタスクを学習)</P>
                <div class="container">
                  <div class="row">
                    <div class="col-4">
                      <div class="card" style="width: 18rem;">
                        <img class="mx-auto d-block" src="./images/物体検出とGAN、オートエンコーダー、画像処理入門.jpg">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="card" style="width: 18rem;">
                        <img class="mx-auto d-block" src="./images/generated_epoch_001.png">
                          <div class="row">
                            <div class="col">
                            初期時の生成画像
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="card" style="width: 18rem;">
                        <img class="mx-auto d-block" src="./images/generated_epoch_010.png">
                        <div class="row">
                          <div class="col">
                            終了時の生成画像
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <p>また、下記の先駆者様たちを参考にさせていただきました。</p>
                <p><a href="https://qiita.com/kosakae256/items/cf3293861c14956cce18">DCGANとPGGANを習得したお話</a></p>
                <p><a href="https://rightcode.co.jp/blog/information-technology/gan-authentic-elaborate-image-generation-models">GANで本物のように精巧な画像生成モデルを作ってみた【Pytorch】</a></p>
                <p><a href="https://qiita.com/zassou65535/items/57fe3bd677159cdb2528">メルアイコン生成器 version2を作った話</a></p>
                <p>理想のイメージは、この方のような架空ポケモンを作成できればいいなぁ。(ハードルめちゃくちゃに上げてしまった)</p>
                <p><a href="https://ledge.ai/ai-generated-imaginary-pokemon/">AIで約200種類の架空ポケモンを自動生成 完成度の高さが話題に</a></p>
                <u>
                  <h3>3. 実装</h3>
                </u>
                <P>Google Colaboratory で実装して学習してみた</P>
                <p><a href="https://colab.research.google.com/drive/1CHLG4mk8IHovVWjltjKznaXNYfURbAvF?usp=sharing">コードを閲覧</a></p>
                <P>学習用データセットは<strong>kaggle</strong>からポケモンの画像、約2,500枚 持ってきました。</P>
                <h4>いざ学習してみると</h4>
                <div class="container text-center">
                  <div class="row justify-content-center">
                    <div class="col">
                      <img class="mx-auto d-block" src="./images/初期モデルの生成画像.png">
                      <p>↑学習したモデルの生成画像（なにこれアメーバ？）</p>
                    </div>
                  </div>
                </div>
                <p>特徴量が多くあり、なおかつモデルの構造は先駆者たちの参考に作成しているため、ポケモンの生成器として不十分な可能性も・・・</p>
                <p>とりあえずデータセットを修正して再度学習を行ってみる。</p>
                <div class="container text-center">
                  <div class="row justify-content-center">
                    <div class="col">
                      <img class="mx-auto d-block" src="./images/yellow_pokemon_dataset.png">
                      <p>↑黄色いポケモンを中心にGANに学習させる</p>
                    </div>
                  </div>
                </div>
                <p>1回の学習時間で<strong>約5時間</strong>かかります・・・</p>
                <div class="container text-center">
                  <div class="row justify-content-center">
                    <div class="col">
                      <video controls loop autoplay width="500px" height="300px">
                        <source src="./images/out1.mp4" type="video/mp4">
                      </video>
                      <p>↑4*4のノイズから256*256の最終生成画像まで</p>
                    </div>
                  </div>
                </div>
                <u>
                  <h3>4. デプロイ</h3>
                </u>
                <p>今回は <strong>Render</strong>を使用してデプロイをしました。</p>
                <p>今、流行りの<strong>ChatGPT</strong>のAPIも使ってみたかったので、キーワードからポケモンのフェイクの図鑑説明をできる機能を作成してみました。</p>
                <p>APIをデプロイ先で使用する上で、どうやってAPIのKeyを保存して使用するのかが分からなかったので<strong>ChatGPT</strong>に聞いてみました。</p>
                <div class="container text-center">
                  <div class="row justify-content-center">
                    <div class="col">
                      <video controls loop autoplay width="500px" height="300px">
                        <source src="./images/ChatGPT_question.mov" type="video/mp4">
                      </video>
                      <p>↑無事解決！</p>
                    </div>
                  </div>
                </div>
                <u>
                  <h3>5. まとめ</h3>
                </u>
                <div class="container text-center">
                  <div class="row justify-content-center">
                    <div class="col">
                      <h1></h1>
                    </div>
                  </div>
                </div>
                <ul>
                <li><h4>画像生成を自作するには、<strong>技術</strong>と<strong>時間</strong>と<strong>根気</strong>が大事</h4></li>
                <p>先駆者の方も言っていましたが、初学者が思った通りのものを作成できるほど、甘くはありませんでした。</p>
                <p>何が原因でうまく生成できないのかが分からず、データセットを変えたり、学習率や畳み込み層を変化させたりなどでしか、</p>
                <p>前のモデルとの差別化ができず、モデル自体もあまり変化がなく、圧倒的に知識不足でした。</p>
                <p>また先にも述べた通り、1回の学習時間で<strong>約5時間</strong>かかるので、学習がうまくいかなかった時、結構がっかりしました。
                <p>本気で高解像度の画像のポケモンを生成するには、<strong>Midjourney</strong>や<strong>DALL・E 2</strong>などをアプリに組み込む方法を考えた方がよさそうと感じました。</p>
                <li><h4><strong>ChatGPT</strong> やはりすごい</h4></li>
                <p>今回のアプリ作成は、分からないことをChatGPTに質問したり、ChatGPTのAPIをうまく活用して機能を付け加えたりと、本当にシンギュラリティを感じたアプリ制作でした。</p>
                <p>質問の仕方で返答が変わることや、自分が分からないことを教えてくれるので、少し愛着が湧いてしまいました。</p>
                <p>また、最近<strong>GPT-4</strong>が登場したこともあり、お財布と相談してぜひ使ってみたいなと思います。</p>
                </ul>
                <p><a href="https://github.com/nakamuuu13/pokemon_generator_app.git">このWebアプリのコード</a></p>

              </div>
            </div>
          </div>     
        </div>
      </div>
    </div>
    


    <script>
      // 作成までのお話を表示/非表示の関数
      function toggleText() {
        var text = document.getElementById("story");
        if (text.style.display === "none") {
          text.style.display = "block";
        } else {
          text.style.display = "none";
        }
      }
    </script>

    <script>
      // Pythonから送信されたテキストを取得するための関数
      function updateText() {
        fetch('/update')
        .then(response => response.text())
        .then(data => {
          document.getElementById("text").innerHTML = data;
        });
      }
    </script>

  </body>
</html>